body {
    /* remove margins and scroll bars */
    margin: 0;

    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #282c45;
    background-image: url(https://raw.githubusercontent.com/dekrvch/Floids/main/src/assets/background.svg);

    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;

    /* color text */
    color: #444;
    
}



#scene-container {
    /* tell our scene container to take up the full page */
    position: fixed;
    width: 100%;
    height: 100%;
}

.dg.main .close-button {
    background-color: rgb(255, 0, 255);
  }



#text{
    position: absolute;
    width: 40%;
    height: auto;
    overflow: scroll;
    
    margin: 20pt;
    text-align: left;
    text-justify: inter-word;
    color: Gainsboro;

    overflow-x: hidden;
    overflow-y: auto;

    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.7;
}
h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 0px;
  }
  h2 {
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 0px;
  }  
mark {
    background-color: transparent;
    color: #ffabbd;
  }
  a {
    color: #5dcf84;
  }
#text img{
    padding: 15px;
}

#signature{
    text-align: right;
    margin-top: 40pt;
}
.fa-brands{
    letter-spacing: 7pt;
}

.dg .c .slider-fg {
    background: #51b574 !important;
}
.dg .cr.number input[type=text] {
    color: #51b574 !important;
}
.dg .c input[type=checkbox] {
    accent-color: #51b574 !important;
}