body {
    /* remove margins and scroll bars */
    margin: 0;

    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: #2c314e;

    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;
    color: Gainsboro;
    
}



#scene-container {
    /* tell our scene container to take up the full page */
    margin: 0pt;
    position: fixed;
    width: 100%;
    height: 100%;
}

#text{
    position: relative;
    width: 40%;
    height: auto;
    overflow: scroll;
    
    margin-left: 20pt;
    text-align: left;
    text-justify: inter-word;

    overflow-x: hidden;
    overflow-y: auto;

    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.7;
}
h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 0px;
  }
  h2 {
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 0px;
  }  
mark {
    background-color: transparent;
    color: #ffabbd;
  }
  a {
    color: #5dcf84;
  }
#text img{
    padding: 15px;
}
#signature{
  width: 40%;
  position:relative;
  text-align: right;
  margin-top: 40pt;
  line-height: 15pt;
}
.fa-brands{
    letter-spacing: 7pt;
}

.dg .c .slider-fg {
    background: #51b574 !important;
}
.dg .cr.number input[type=text] {
    color: #51b574 !important;
}
.dg .c input[type=checkbox] {
    accent-color: #51b574 !important;
}
#stats {
  position: absolute !important;
  top: auto !important;
  bottom: 0px !important;
  left: auto !important;
  right: 0px !important;
}